.product-items{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: fit-content;
}

.card-item {
    position: relative;
}

.card-image {
    position: relative;
}

.card-info{
    position: relative;
}