.not-found-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.not-found-page img{
    width: 40%;
    margin: 1rem auto;
}

.not-found-page a{
    padding: 0.5rem 2rem;
    border: 1px solid gray;
    width: fit-content;
    margin: 0.5rem auto;
    border-radius: 0.5rem;
}

.not-found-page h3{
    margin: 0px auto;
    font-size: x-large;
}