.container-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 80dvh;
}

.form-field form{
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-input label{
    font-size: medium;
    display: flex;
    gap: 0.2rem;
}

.form-input input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
}

.login-button {
    display: flex;
    width: fit-content;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    border: none;
}