<div class="other-details">
    <div>
        <h3>{{productDetails.title}}</h3>
    </div>
    <div>
        <span class="product-count">{{productDetails.rating.count}}</span>
        <span class="product-left">Left</span>
    </div>
    <div>
        <p>Rating: {{productDetails.rating.rate}}</p>
    </div>
    <div>
        <p>Category: {{productDetails.category}}</p>
    </div>
    <div class="product-price">
        <p>Product Price:</p>
        <span>$ {{productDetails.price}}</span>
    </div>
</div>
